.px {
  /* 글 */
  font-size: 16px;
  /* 너 */
  width: 200px;
  color: red;
}

.percent {
  font-size: 100%;
  width: 50%;
  color: #ff0000;
  background-color: #00ff00;
  border: 5px solid #0000ff;
}

.rem {
  font-size: 1rem; 
  width: 10rem;
  color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);

}

.em {
  font-size: 1em;
  width: 10em;
  color: rgba(255, 0, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.5);
  border: 5px solid rgba(0, 0, 255, 0.5);
}

.vw {
  font-size: 2vw;
  width: 50vw;
  color: #6ba6e9;
}

.vh {
  font-size: 2vh;
  width: 50vh;
  background-color: #808080;
  background-color: #404040;
}

.wrapper {
  font-size: 1em;
}